
.nimavin {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	color: #999;
}
.nimavinbold {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14pt;
	font-style: normal;
	font-weight: bold;
	color: #999;
}
