.container{width:100%;height:auto;margin-top:10px;	background:#EBF5FF;}

.contenttable{margin:1%; width:98%;	height:auto;	padding:5px;	background:#C2E0FF;	border:2px solid #D4DCE6;}
.datatable{border-collapse:collapse;width:100%;}
.formstable{width:100%; color:#24478F;}
.printviewtable{width:100%;background:#FFFFFF; font-size:13px; border:1px dotted;}
.tblwithborder{border:1px dotted #99C2FF;}

.selectbox{  background: transparent;   width: 40%;   padding: 1px;      font-size: 13px;   border: 1px solid #99C2FF;   }
.selectboxsmall{  background: transparent;   width: 35%;   padding: 1px; font-size: 13px;   border: 1px solid #99C2FF;   }
.selectboxlarge{  background: transparent;   width: 80%;   padding: 1px; font-size: 13px;   border: 1px solid #99C2FF;   }


.textboxlarge{background: transparent;  width: 80%;  padding: 1px;    font-size: 13px;   border: 1px solid #99C2FF;}
.textboxmedium{background: transparent; width: 40%;  padding: 1px;    font-size: 13px;   border: 1px solid #99C2FF;}
.textboxsmall{background: transparent;  width: 35%;  padding: 1px;    font-size: 13px;   border: 1px solid #99C2FF;}

.reqtextboxlarge{background: #CCFFFF;   width: 80%;  padding: 1px;    font-size: 13px;   border: 1px solid #99C2FF;}
.reqtextboxmedium{background: #CCFFFF;  width: 40%;  padding: 1px;    font-size: 13px;   border: 1px solid #99C2FF;}
.reqtextboxsmall{background: #CCFFFF;   width: 35%;  padding: 1px;    font-size: 13px;   border: 1px solid #99C2FF;}

.datepicker{background: transparent; width: 40%;  padding: 1px;    font-size: 13px;   border: 1px solid #99C2FF;}

.gridtextboxlarge{background:#ffffff;  width: 80%;  padding: 1px;    font-size: 13px;   border: 2px solid #99C2FF;}
.gridtextboxmedium{background:#D6FFEB; width: 40%;  padding: 1px;    font-size: 13px;   border: 2px solid #99C2FF;}
.gridtextboxsmall{background:#D6FFEB;  width: 35%;  padding: 1px;    font-size: 13px;   border: 2px solid #99C2FF;}

.buttontype1{background:width:100px; background:url("../images/btn1_background.gif") repeat-x;  color:#ffffff; font-size:12px; border:3px solid #EBF5FF; font-family:sans-serif;}
.buttontype2{background:#fffffc;width:100px;}

.rowodd{background:#F7FBFF;cursor:pointer;}
.roweven{background:#DEE2E6;cursor:pointer;}
.justrow{cursor:pointer;}

#docoratedAnchotag1{text-decoration:none; background-color:#9BB3CC;padding:0.2em 0.6em;}

table{font-size:12px;font-family:sans-serif;}
b{color:#ffffff;}
hr{color: #99C2FF;}


.message_success{
text-align:center;width:100%;height:20px;background:url(../images/success_background.gif) repeat-x;color:#09763F;border:1px solid #2EB82E;font-size:12px; font-family:sans-serif; padding-top:2px;}
.message_error{
text-align:center;width:100%;height:20px;background:url(../images/error_background.gif) repeat-x; color:#FFFFFF;border:1px solid #B20000;font-size:12px; font-family:sans-serif; padding-top:2px;}

.submenu1{float:left;	width:100%;	padding:0;	margin:0;	list-style-type:none;}
.submenu1 a{float:left;width:auto;text-decoration:none;color:white; font-weight:bold; font-size:14px;background-color:#9BB3CC;padding:0.2em 0.6em;border-right:1px solid white;}
.submenu1 li {display:inline;}
.submenu1 a:hover {background-color:#000;}

#spanrpt{margin-top:5px;padding:5px;width:95%;border-top: 1px solid #99C2FF;border-left: 1px solid #99C2FF;	border-right: 1px solid #99C2FF;}
#spanrpt_last{margin-top:5px;padding:5px;width:95%;border: 1px solid #99C2FF;}

#nostyles_anchor{
 text-decoration:none;
 color:#8F8F8F;
}



 /*-----------statement print settings----------*/

#tblprintdata{
 border:1px solid #000000;
}

#tdleft{
	border-right:1px solid; #000000;
}

#tdbordertop{
	
/*----------------------------------------------*/	
	border-top:1px solid #000000;
}


.divroundedcorders{
    margin-top: 1%;
    border:2px solid #a1a1a1;
    padding:5px 5px; 
    background:#333333;
    width:50%;
    border-radius:25px;
    color: #199A19;
    font-weight: bold;
    -moz-border-radius:5px; /* Firefox 3.6 and earlier */

    box-shadow: 10px 10px 5px #888888;
}